@model TravelBlog.Models.Person

@{
    ViewData["Title"] = "Create People";
}

<h2>Add a new person</h2>

@using (Html.BeginForm())
{  
    <div class="card">
	    <div class="card-block">
            <div class="form-group row">
                <label class="col-md-2">@Html.LabelFor(model => model.Name):</label>
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new {@class="form-control"})
                </div> 
            </div>
         
            @Html.HiddenFor(model => model.ExperienceId, new{@value = ViewBag.CurrentExperience.ExperienceId})
       
             <br />
             <input type="submit" value="Add new person" class="btn btn-success" />
		</div>
    </div>
   
}

<p class="back">@Html.ActionLink("Back to people", "Index")</p>