@model TravelBlog.Models.Person
@{
    ViewData["Title"] = "Delete Person";
}

<h2>Do you wish to forget @Html.DisplayFor(model => model.Name)?</h2>

@using (Html.BeginForm())
{
    <div class="d-flex justify-content-center">
        <input type="submit" value="Forget" class="btn btn-danger" /> 
    </div> 
}

<p class="back">@Html.ActionLink("Back to people", "Index")</p>