@model TravelBlog.Models.Person

@{
    ViewData["Title"]="Person Details";
}

<h2>@Html.DisplayFor(model => model.Name) Details</h2>

<div class="card">
    <div class="card-header">
        <h4>@Html.ActionLink((string)Model.Experience.Title, "Details", "Experiences", new{ id = Model.Experience.ExperienceId })</h4>
		
	</div>
	<div class="card-block">
		<p>@Html.DisplayFor(model => model.Experience.Story)</p>
	</div> 
</div> 


<p class="back">@Html.ActionLink("Back to People", "Index")</p>