@model TravelBlog.Models.Person
@{
    ViewData["Title"] = "Edit Person";
}

<h2>Edit person</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.PersonId)
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <input type="submit" value="Edit person" class="btn btn-success" /> 
}

<p>@Html.ActionLink("Back to people", "Index")</p>