@model IEnumerable<TravelBlog.Models.Person>
@{
    ViewData["Title"] = "People";
}

<h2>People</h2>


    @foreach(var listPerson in Model)
	{
        <div class="card card-outline-primary mb-3 text-center">    
                <div class="card-block">
                    <blockquote class="card-blockquote">
                        <h5>@Html.DisplayFor(model => listPerson.Name)</h5>
                        <footer>
                            @Html.ActionLink("Edit", "Edit", new { id = listPerson.PersonId })
                            | @Html.ActionLink("Delete", "Delete", new { id = listPerson.PersonId })
                            | @Html.ActionLink("Details", "Details", new { id = listPerson.PersonId })
                        </footer>
                     </blockquote>
                </div>
            </div>
	}
