@model IEnumerable<TravelBlog.Models.Person>
@{
    ViewData["Title"] = "People";
}

<h1>People</h1>

<ul>
    @foreach(var listPerson in Model)
	{
	    <li>
            @Html.DisplayFor(model => listPerson.Name)
		    | @Html.ActionLink("Edit", "Edit", new { id = listPerson.PersonId })
		    | @Html.ActionLink("Delete", "Delete", new { id = listPerson.PersonId })
		    | @Html.ActionLink("Details", "Details", new { id = listPerson.PersonId })
		</li>
	}
</ul>