@model TravelBlog.Models.Experience

@{
    ViewData["Title"] = "Deletion";
}

<h2>Are you sure you wish to forget?</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ExperienceId)
    <div class="d-flex justify-content-center">
        <input type="submit" value="Delete" class="btn btn-danger"/>
    </div>
}

<p class="back">@Html.ActionLink("Back to experiences", "Index")</p>