@model TravelBlog.Models.Location

@{  
    ViewData["Title"] = "Location Details";
}

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.Country)?</h2>


@using (Html.BeginForm())
{
    <div class="d-flex justify-content-center">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div> 
}

<p class="back">@Html.ActionLink("Back to list", "Index")</p>